@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;500;600;700;800;900&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');


body {
    font-family: "Inter",sans-serif;
    margin: 0 0;
}

/* HEADER NAV */

.nav_main {
    position : fixed;
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    top: 0;
    height: 44px;
    color: rgb(219, 219, 219);
    background-color: rgba(0, 0, 0, 0.801);
    font-size: 11.4px;
    font-weight: 300;
    text-decoration: none;
    letter-spacing: 0.3px;
    backdrop-filter: blur(25px);
}

.nav_main li {
    margin-left: 20.6px;
    margin-right: 20.6px;
    transition: 200ms;
}

.nav_main li:hover {
    color: white;
}

.nav_main a {
    text-decoration: none;
    color: inherit;
}

.logo {
    font-size: 17.3px;
    margin-top: -3px;
}

.loupe, .cart {
    font-size: 13px;
    margin-top: -2px;
}

@media (max-width: 1097px) {
    .nav_main li{
        margin: auto;
    }
}
/* FIN HEADER NAV */

/* HEADER ASIDE */

aside p {
    line-height: 45px;
    text-align: center;
    font-size: 13px;
    font-weight: 400;
    background-color: rgb(245, 245, 245);
    height: 45px;
    margin-top: 44px;
    color: rgb(97, 97, 97);
}

aside a {
    color: rgb(62, 146, 231);
    text-decoration: none;
}

aside a:hover {
    text-decoration: underline;
}

/* FIN HEADER ASIDE */

/* IPHONE 13 PRO */

#iphone13_pro h1, #iphone13_pro h2 {
    text-align: center;
}

#iphone13_pro h1 {
    margin-top: 52px;
    font-size: 3.3rem;
    font-weight: 600;
    letter-spacing: -0.8px;
}

#iphone13_pro h2 {
    font-weight: 400;
    font-size: 1.7rem;
    margin-top: -32px;
    letter-spacing: -0.9px;
}

#iphone13_pro .button {
    text-align: center;
    margin-top: -7px;
}

#iphone13_pro a {
    text-decoration: none;
    color: rgb(62, 146, 231);
    margin-right: 23px;
    margin-left: 12px;
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: -0.5px;
}

#iphone13_pro .underline:hover {
    text-decoration: underline;
}

.iphone13_pro_img {
    text-align: center;
    margin-top: 46px;
    margin-bottom: -27px;
}
/* FIN IPHONE 13 PRO */

/* IPHONE 13 */

#iphone13 {
    width: 100%;
    height: 692px;
    background-size: 100% 692px;
    background-repeat: no-repeat;
    margin: 0;
    background-image: url('iphone13.jpg');
}

#iphone13 h1, #iphone13 h2 {
    text-align: center;
}

#iphone13 h1 {
    color: white;
    padding-top: 52px;
    font-size: 3.3rem;
    font-weight: 600;
    letter-spacing: -0.8px;
}

#iphone13 h2 {
    font-weight: 400;
    font-size: 1.65rem;
    margin-top: -32px;
    letter-spacing: -1.2px;
    color: rgb(240, 187, 224);
}

#iphone13 .button {
    text-align: center;
    margin-top: -5px;
}

#iphone13 a {
    text-decoration: none;
    color: rgb(62, 146, 231);
    margin-right: 23px;
    margin-left: 12px;
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: -0.5px;
}

#iphone13 .underline:hover {
    text-decoration: underline;
}
/* FIN IPHONE 13 */

/* MACBOOK PRO */

#macbook_pro h1, #macbook_pro h2 {
    text-align: center;
}

#macbook_pro h1 {
    margin-top: 64px;
    font-size: 3.36rem;
    font-weight: 600;
    letter-spacing: -1.2px;
}

#macbook_pro h2 {
    font-weight: 400;
    font-size: 1.6rem;
    margin-top: -32px;
    letter-spacing: -0.9px;
}

#macbook_pro .button {
    text-align: center;
    margin-top: -5px;
}

#macbook_pro a {
    text-decoration: none;
    color: rgb(62, 146, 231);
    margin-right: 23px;
    margin-left: 12px;
    font-size: 1.25rem;
    font-weight: 400;
    letter-spacing: -0.5px;
}

#macbook_pro .underline:hover {
    text-decoration: underline;
}

.macbook_pro_img {
    text-align: center;
    margin-top: 45px;
    margin-bottom: -27px;
}

/* FIN MACBOOK PRO */

/* AIRPODS & HOMEPOD */

#container_airpods_homepod {
    display: flex;
    justify-content: center;
    margin-top: 56px;
}

/* FIN AIRPODS & HOMEPOD */

/* AIRPODS */

#airpods {
    margin-left: 200px;
}

#airpods h1, #airpods h2 {
    text-align: center;
}

#airpods h1 {
    margin-top: -15px;
    font-size: 2.4rem;
    font-weight: 600;
    letter-spacing: -1px;
    color: rgb(27, 27, 27);
}

#airpods h2 {
    font-weight: 300;
    font-size: 1.3rem;
    margin-top: -20px;
    letter-spacing: -0.9px;
}

#airpods .button {
    text-align: center;
    margin-top: -5px;
}

#airpods a {
    text-decoration: none;
    color: rgb(62, 146, 231);
    margin-right: 23px;
    margin-left: 12px;
    font-size: 1.05rem;
    font-weight: 400;
    letter-spacing: -0.5px;
}

#airpods .underline:hover {
    text-decoration: underline;
}

/* FIN AIRPODS */

/* HOMEPOD MINI */

#homepod_mini {
    margin-left: 280px;
    margin-top: 100px;
}

#homepod_mini h1, #homepod_mini h2 {
    text-align: center;
}

#homepod_mini h1 {
    margin-top: -15px;
    font-size: 2.4rem;
    font-weight: 600;
    letter-spacing: -1px;
    color: rgb(27, 27, 27);
}

#homepod_mini h2 {
    font-weight: 500;
    font-size: 0.8rem;
    margin-top: -10px;
    letter-spacing: 0px;
    color: rgb(190, 190, 190);
}

#homepod_mini .button {
    text-align: center;
    margin-top: -5px;
}

#homepod_mini a {
    text-decoration: none;
    color: rgb(62, 146, 231);
    margin-right: 23px;
    margin-left: 12px;
    font-size: 1.05rem;
    font-weight: 400;
    letter-spacing: -0.5px;
}

#homepod_mini .underline:hover {
    text-decoration: underline;
}

.homepod_mini_img {
    margin-top: 40px;
}

/* FIN HOMEPOD MINI */

/* CARD & MOVIE */

#card_movie {
    display: flex;
}

/* FIN CARD & MOVIE */

/* CARD */

#card {
    margin-top: 110px;
    margin-left: -70px;
}

#card h1, #card h2 {
    text-align: center;
}

#card h1 {
    margin-top: -15px;
    font-size: 2.3rem;
    font-weight: 600;
    letter-spacing: -0.6px;
    color: rgb(27, 27, 27);
}

#card h2 {
    font-weight: 300;
    font-size: 1.3rem;
    margin-top: -20px;
    letter-spacing: -0.9px;
}

#card .button {
    text-align: center;
    margin-top: -5px;
}

#card a {
    text-decoration: none;
    color: rgb(62, 146, 231);
    margin-right: 23px;
    margin-left: 12px;
    font-size: 1.05rem;
    font-weight: 400;
    letter-spacing: -0.5px;
}

#card .underline:hover {
    text-decoration: underline;
}

.card_img {
    margin-top: 30px;
}

.card_img > img {
    max-width: 100%;
}

/* FIN CARD */

/* MOVIE */

#movie {
    margin-top: 45px;
}

.movie_img {
    margin-left: 12px;
}

/* FIN MOVIE */

/* FOOTER */

.footer_container {
    background-color: rgb(245, 245, 247);
    padding: 5px 450px 0px 460px;
    margin-top: -10px;
}

.footer_container p {
    font-size: 11.5px;
    color: rgb(138, 138, 138);
    padding-bottom: 22px;
    letter-spacing: 0.09px;
}

.footer_container .p_footer {
    border-bottom: rgb(212, 212, 212) solid 1px;
}

.footer_container a {
    text-decoration: none;
    color: rgb(117, 117, 117);
}

.footer_container a:hover {
    text-decoration: underline;
}

.footer_container nav {
    margin-top: -11px;
    font-size: 14px;
}

.footer_container li {
    list-style: none;
    font-size: 11.5px;
    line-height: 26.5px;
    color: rgb(112, 112, 112);
    font-weight: 400;
    margin-left: -38px;
    margin-right: 110px;
    width: 100%;
}

.footer_container .list_title {
    font-weight: 600;
    color: rgb(42, 42, 42);
    width: 100%;
}

.footer_container .list_title:hover {
    text-decoration: none;
}

.footer_container .col {
    display: flex;
    margin-bottom: 15px;
}

.footer_moreways a {
    color: rgb(62, 146, 231);
}

.footer_moreways a:hover {
    text-decoration: underline;
}

.footer_container .footer_moreways {
    border-bottom: solid 1px rgb(212, 212, 212);
    font-size: 11.7px;
    color: rgb(138, 138, 138);
    margin-bottom: 15px;
    padding-bottom: 7px;
}

.footer_end {
    display: flex;
    justify-content: space-between;
    margin-top: -15px;
}

.footer_end a {
    color: rgb(93, 93, 93);
    font-size: 12px;
    margin-top: 10px;
}

.footer_end a:hover {
    text-decoration: underline;
}

/* FIN FOOTER */